<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href='{{url_for('static', filename='css/style.css')}}' />
    </head>
    <body>
        {% if current_user.is_authenticated %}
            <p>
                <a>Пользователь: {{ current_user.nickname }}</a>
                <a class="button button1" href="/user_change">Редактировать пользователя</a>
                <a class="button button2" href="/logout">Выйти</a>
                <a class="button button3" href="/upload">Загрузить Видео</a>
            </p>
        {% else %}
            <p>
                <a class="button button1" href="/login">Войти</a>
                <a class="button button2" href="/register">Зарегистрироваться</a>
            </p>
        {% endif %}
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>