{% extends "base.html" %}
{% block content %}
    {% if name %}
        {% if current_user.is_authenticated %}
            <p>
                <a class="button button1" href="/video_change/{{link}}">Редактировать видео</a>
                <a class="button button3" href="/video_delete/{{link}}">Удалить видео</a>
            </p>
        {% endif %}
        <div>{{ name }}</div>
        <video width="1020" height="600" controls>
            <source src='{{url_for("static", filename="/videos/" + link)}}'>
        </video>
    {% endif %}
{% endblock %}