h4 {
  padding-left: 20px;
  font-family: Times, serif;
  color: #1428c5;
}

table {
  width: 75%;
  border: 1px solid;
}

th, td {
  width: 90%;
}

.button {
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;}
.button2 {background-color: #008CBA;}
.button3 {background-color: #ee5214;}